/* searched in fonts.google.com for the fonts 
"Roboto" Regular 400 
"Roboto" Bold 700
One coulu import by seecting an "Import" to the CSS file, or a "<Link>" on the HTML
I chose the Import (remove the <style> tags  offered by google, i am already in the CSS file*/


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* Aplying to..   Everything */
/* box-sizing: border-box is so if we add any padding or any border to an element
the with of it will not be affected */ 
*{
    box-sizing: border-box;
}
/* Aplying font to the body */
body{

    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Muli', sans-serif;
    display: flex; /* so everything is in a box*/
 /*   flex-direction: column;  /* so everything is added is a new row. if the value 'row' was selected, every new tag in the body would be added from left to rigth */
    align-items: center;/* beuase I secelted the flex-direction to be 'column' , center means centered from left and right inside the box
    If i had chosen 'row', it would be centered to up and down*/ 
    justify-content: center; /*I also want the body to be centered Up and down (this does not work if the body does not have a height*/
    height: 100vh; /* vh means 'viewport height', in this case we are using 100% of the browser's heigth*/
    overflow: hidden; /* no scroll bars shown by default */
    margin: 0;
}
 .container{
     display: flex;
     width: 90vw;
 }
 .panel{
     background-size: cover;
     background-position: center;
     position: relative;
     height: 80vh;  /*NOTE: 1vh = 1% of the available height */
     background-repeat: no-repeat;
 }

 .panel.active{
     width: 40vw;
 }
